<h2>Welcome !</h2>
<p>Got an account ? @Html.ActionLink("You can sign in here", "SignIn", "Sessions")</p>
<p>No account ? No problem ! @Html.ActionLink("Sign up here", "New", "Registrations") for free</p>

